
*{ 
    padding: 0px;
    margin: 0px;
}
:root{
    --main-font:'Open Sans', sans-serif;
    --main-title:#070707;
}
body{
    font-family: var(--main-font);
  

}
.container{
    width: 100%;
     max-width: 943px;
     margin: 0px auto;
}
.header__menu{
    padding: 29px 0;
    margin-bottom: 33px;
    border-bottom:1px solid #828282;
}
.header__menu-item{
    list-style: none;
}
.header__menu-container{
    display: flex;
    justify-content:center;
    gap: 40px;
}

.header__menu-title{
    font-weight: 400;
font-size: 18px;
line-height: 25px;
color: var(--main-title);
text-decoration: none;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__title{
   
font-weight: 700;
font-size: 47px;
line-height: 64px;
color: var(--main-title);
margin-bottom: 38px;
}
.header__img{
width: 943px;
height: 387px;
background-image: url(../img/BSPP2266x940.jpg);
background-size:cover ;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 100px;
}
